@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

/* Aqui vai os efeitos do header e da nav-bar*/

.div-link-text {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;
}

.div-link {
    background-color: linen;
    font-size: 25px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    align-items: fcenter;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.caca-ofertas {
    text-align: center;
    margin: 0 auto;
    background-color: #6A4733;
    padding: 10px 0;
}

.header-divs {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.botao {

    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;

}

.botao a {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all .3s ease;
}

.botao a b {
    color: black;

}

.botao:hover a {
    top: -15px;
}

.botao:hover a b {
    bottom: 0px;
    opacity: 1;
}

header {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 5px #0e0e0e;
    padding: 0 10px 0 0;
}

header img {
    height: 100%;
    width: auto;
}

header button {
    width: 100px;
    box-sizing: border-box;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

header button:hover {
    box-shadow: 0 1px 5px #0e0e0e;
}

.header-div-text {
    font-family: 'Mr Dafoe', cursive;
    margin-top: 5%;
}

header button img {
    width: 25px;
    height: auto;
    text-shadow: 0 1px 5px #0e0e0e;
}

/* Aqui vai toda main da pagina */


.menu-imagens img {
    width: 90px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 1px 5px #0e0e0e;
    transition: opacity 0.5s ease-in-out;
}

.menu-imagens img:hover {
    opacity: 0.6;
}

.header-login {
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Mr Dafoe', cursive;
}

.carrinho p {
    margin-left: 10%;
}

@media (min-width: 768px) {
    .header-divs {
        width: 330px;
    }

    .menu-imagens img {
        width: 130px;
    }
}

@media (min-width: 1024px) {
    .header {
        height: 200px;
        padding: 0 20px;
    }

    .menu-imagens img {
        width: 250px;
    }


    .header button {
        padding: 15px 20px;
        width: 150px;
    }

    .header-divs {
        width: 600px;
    }
}

/* barra footer */

footer {

    width: 100%;
    min-height: 250px;
    background-color: rosybrown;
    display: flex;
    border-top: 4px solid #a52f00;
    justify-content: center;

}

footer .boxs {

    width: 320px;
    min-height: 150px;
    padding: 20px;
    box-sizing: border-box;
}

/* meche no h2 do footer letras e distância */

footer .boxs:nth-child(4) {
    width: 400px;
}

.boxs h2 {
    color: maroon;
    margin-bottom: 20px;
}

.boxs ul li {

    margin: 10px 0px;
    list-style: none;
}

/* muda a cor das letras dos links do footer  */
.boxs ul li a {

    color: #fff;
    text-decoration: none;
}

.boxs ul li a:hover {
    color: #ddd;

}

.boxs p {

    color: #fff;
    text-align: justify;
}

.footer {

    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(117, 42, 42);
    border-top: 2px solid #a52f00;

}

.footer h2 {

    color: #ddd;
    padding: 0 50px;
}


/* Parte das redes sociais */
.footer .sociais {

    display: flex;
}

.sociais .social {

    width: 40px;
    height: 40px;
    text-align: center;
    list-style: 40px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;

}

/* responsivo */
@media(max-width: 950px) {
    ul {
        padding: 0;
    }
    footer {
        flex-direction: column;
    }

    footer .boxs {
        width: 100%;
        text-align: center;
    }

    footer .boxs:nth-child(4) {
        width: 100%;
    }
}